body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
section {
    background-color: darkcyan;
    padding: 40px;
    border-radius: 10px;
    border: 3px dotted white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 14pt;
    letter-spacing: 1.5px;
}
section>* {
    margin-bottom: 20px;
}
section>button {
    font-size: 15pt;
    width: 45%;
    height: 40px;
    background-color: white;
    color: darkcyan;
    border: 3px dotted darkcyan;
    border-radius: 8px;
    cursor: pointer;
}
body>div {
    display: none;
    justify-content: center;
    align-items: center;
}
#container{
    animation: 2s levareContainer ease-out;
    z-index: 0;
}
#container div {
   height: 13vh;
   width: 13vh;
   border-radius: 50%;
   background-color: red;
   position: relative;
}

input[type="radio"] {
    color: darkcyan;
    cursor: pointer;
}
input[type="number"] {
    margin-left: 20px;
    font-size: 14pt;
    width: 65px;
    height: 45px;
    text-align: center;
    color: darkcyan;
}
.linhaDesenho {
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 80vh;
    background-color: black;
} 
