body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div {
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: lightcoral;
   animation: 2s action infinite;
}
@keyframes action {
    0% {
        transform: translateY(40vh);
    }
    25% {
        transform: translateX(-20vw);
    }
    50% {
        transform: translateX(20vw);
    }
    75% {
        transform: translateY(-40vh);
    }
    100% {
        transform: translateY(40vh);
    }
}